.footer {
    width: 100%;
    height: 80px;
    background-color: var(--primaria);
    color: var(--branco);
    font-weight: bold;
    font-size: 1.125rem;
    border: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.redes{
    
}